@model AuditElementChoice
@{
    int i = ViewBag.i == null ? 0 : ViewBag.i;
}

<tr>
    <td>@Html.TextBoxFor(m => m.Text, null, new { @Name = $"[{i}].Text", @class = "form-control" })</td>
    <td>@Html.TextBoxFor(m => m.Score, null, new { @Name = $"[{i}].Score", @class = "form-control" })</td>
    <td>@Html.TextBoxFor(m => m.Order, null, new { @Name = $"[{i}].Order", @class = "form-control" })</td>
</tr>