@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DubbelVy</h1>
    <p class="lead">DubbelVy Quality Assurance is designed to make the auditing process easier and more transparent.</p>
    @if (!Request.IsAuthenticated)
    {
        <p>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })</p>
    }
</div>