@model AuditSectionViewModel
<tr>
    <td>@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })</td>
    <td>@Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })</td>
    <td>@Html.TextBoxFor(m => m.Order, new { @class = "form-control" })</td>
    <td>
        @Html.HiddenFor(m => m.IsDeleted)
        <a class="delete-section">Remove Section</a>
    </td>
</tr>
